In [33]:
import pandas as pd 
import plotly.express as px

In [34]:
DF1_Cinci = pd.read_csv('Weather_Datasets/Weather_Data-Cinci_NKY_Weather.csv')
DF2_Loui = pd.read_csv('Weather_Datasets/Louisville_Weather_CSV.csv')

In [35]:
DF1_Cinci.head()

,NAME,LATITUDE,LONGITUDE,DATE,PRCP,SNOW,TAVG,TMAX,TMIN
0,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-01,1.01,0.0,58,64,52
1,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-02,0.20,0.0,41,52,28
2,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-03,0.00,0.0,27,33,21
3,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-04,0.00,0.0,29,44,21
4,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-05,0.00,0.0,42,47,22

In [36]:
DF2_Loui.head()

,NAME,LATITUDE,LONGITUDE,DATE,PRCP,SNOW,TAVG,TMAX,TMIN
0,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-01,2.08,0.0,61,64,55
1,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-02,0.01,0.0,46,57,31
2,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-03,0.00,0.0,31,37,25
3,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-04,0.00,0.0,32,46,24
4,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-05,0.00,0.0,46,50,30

In [37]:
DF1_Cinci.rename(columns={'NAME': 'City', 'DATE': 'Date', 'PRCP': 'Precipitation', 'SNOW': 'Snow', 'TAVG': 'Average_Temp', 'TMAX': 'Max_Temp', 'TMIN': 'Min_Temp'}, inplace=True)

In [38]:
DF1_Cinci.head()

,City,LATITUDE,LONGITUDE,Date,Precipitation,Snow,Average_Temp,Max_Temp,Min_Temp
0,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-01,1.01,0.0,58,64,52
1,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-02,0.20,0.0,41,52,28
2,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-03,0.00,0.0,27,33,21
3,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-04,0.00,0.0,29,44,21
4,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-05,0.00,0.0,42,47,22

In [39]:
DF1_Cinci.drop(columns=['LATITUDE', 'LONGITUDE'], inplace=True)
DF1_Cinci.head()

,City,Date,Precipitation,Snow,Average_Temp,Max_Temp,Min_Temp
0,"CIN/NKY INTERNATIONAL AIRPORT, KY US",2022-01-01,1.01,0.0,58,64,52
1,"CIN/NKY INTERNATIONAL AIRPORT, KY US",2022-01-02,0.20,0.0,41,52,28
2,"CIN/NKY INTERNATIONAL AIRPORT, KY US",2022-01-03,0.00,0.0,27,33,21
3,"CIN/NKY INTERNATIONAL AIRPORT, KY US",2022-01-04,0.00,0.0,29,44,21
4,"CIN/NKY INTERNATIONAL AIRPORT, KY US",2022-01-05,0.00,0.0,42,47,22

In [40]:
DF2_Loui.rename(columns={'NAME': 'City', 'DATE': 'Date', 'PRCP': 'Precipitation', 'SNOW': 'Snow', 'TAVG': 'Average_Temp', 'TMAX': 'Max_Temp', 'TMIN': 'Min_Temp'}, inplace=True)

In [41]:
DF2_Loui.head()

,City,LATITUDE,LONGITUDE,Date,Precipitation,Snow,Average_Temp,Max_Temp,Min_Temp
0,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-01,2.08,0.0,61,64,55
1,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-02,0.01,0.0,46,57,31
2,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-03,0.00,0.0,31,37,25
3,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-04,0.00,0.0,32,46,24
4,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-05,0.00,0.0,46,50,30

In [42]:
DF2_Loui.drop(columns=['LATITUDE', 'LONGITUDE'], inplace=True)

In [43]:
DF2_Loui.head()

,City,Date,Precipitation,Snow,Average_Temp,Max_Temp,Min_Temp
0,"LOUISVILLE INT AIRPORT, KY US",2022-01-01,2.08,0.0,61,64,55
1,"LOUISVILLE INT AIRPORT, KY US",2022-01-02,0.01,0.0,46,57,31
2,"LOUISVILLE INT AIRPORT, KY US",2022-01-03,0.00,0.0,31,37,25
3,"LOUISVILLE INT AIRPORT, KY US",2022-01-04,0.00,0.0,32,46,24
4,"LOUISVILLE INT AIRPORT, KY US",2022-01-05,0.00,0.0,46,50,30