# Weather Comparison

## Importing Packages

In [1]:
import pandas as pd 
import plotly.express as px

### DataSets

In [2]:
DF1_Cinci = pd.read_csv('Weather_Datasets/Weather_Data-Cinci_NKY_Weather.csv')
DF2_Loui = pd.read_csv('Weather_Datasets/Louisville_Weather_CSV.csv')
DF3_NYC = pd.read_csv('Weather_Datasets/New_York_Weather.csv')
DF4_LA = pd.read_csv('Weather_Datasets/Los_Angeles_Weather.csv')

### Understanding Data

In [3]:
DF1_Cinci.head()

,NAME,LATITUDE,LONGITUDE,DATE,PRCP,SNOW,TAVG,TMAX,TMIN
0,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-01,1.01,0.0,58,64,52
1,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-02,0.20,0.0,41,52,28
2,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-03,0.00,0.0,27,33,21
3,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-04,0.00,0.0,29,44,21
4,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-05,0.00,0.0,42,47,22

In [4]:
DF1_Cinci_dtypes = DF1_Cinci.dtypes
print(DF1_Cinci_dtypes)
DF1_Cinci_shape = DF1_Cinci.shape
print(DF1_Cinci_shape)

NAME          object
LATITUDE     float64
LONGITUDE    float64
DATE          object
PRCP         float64
SNOW         float64
TAVG           int64
TMAX           int64
TMIN           int64
dtype: object
(365, 9)

In [5]:
DF2_Loui.head()

,NAME,LATITUDE,LONGITUDE,DATE,PRCP,SNOW,TAVG,TMAX,TMIN
0,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-01,2.08,0.0,61,64,55
1,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-02,0.01,0.0,46,57,31
2,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-03,0.00,0.0,31,37,25
3,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-04,0.00,0.0,32,46,24
4,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-05,0.00,0.0,46,50,30

In [6]:
DF2_Loui_dtypes = DF2_Loui.dtypes
print(DF2_Loui_dtypes)
DF2_Loui_shape = DF2_Loui.shape
print(DF2_Loui_shape)

NAME          object
LATITUDE     float64
LONGITUDE    float64
DATE          object
PRCP         float64
SNOW         float64
TAVG           int64
TMAX           int64
TMIN           int64
dtype: object
(365, 9)

In [7]:
DF3_NYC.head()

,NAME,LATITUDE,LONGITUDE,DATE,PRCP,SNOW,TAVG,TMAX,TMIN
0,"JFK INT AIRPORT, NY US",40.63915,-73.7639,2022-01-01,1.22,0.0,50,53,48
1,"JFK INT AIRPORT, NY US",40.63915,-73.7639,2022-01-02,0.03,0.0,53,59,38
2,"JFK INT AIRPORT, NY US",40.63915,-73.7639,2022-01-03,0.00,0.0,34,39,22
3,"JFK INT AIRPORT, NY US",40.63915,-73.7639,2022-01-04,0.00,0.0,25,33,19
4,"JFK INT AIRPORT, NY US",40.63915,-73.7639,2022-01-05,0.29,0.0,36,46,30

In [8]:
DF3_NYC_dtypes = DF3_NYC.dtypes
print(DF3_NYC_dtypes)
DF3_NYC_shape = DF3_NYC.shape
print(DF3_NYC_shape)

NAME          object
LATITUDE     float64
LONGITUDE    float64
DATE          object
PRCP         float64
SNOW         float64
TAVG           int64
TMAX           int64
TMIN           int64
dtype: object
(365, 9)

In [9]:
DF4_LA.head()

,NAME,LATITUDE,LONGITUDE,DATE,PRCP,SNOW,TAVG,TMAX,TMIN
0,"LAX AIRPORT, CA US",33.93816,-118.3866,2022-01-01,0.0,NaN,55,61,49
1,"LAX AIRPORT, CA US",33.93816,-118.3866,2022-01-02,0.0,NaN,54,66,45
2,"LAX AIRPORT, CA US",33.93816,-118.3866,2022-01-03,0.0,NaN,53,60,44
3,"LAX AIRPORT, CA US",33.93816,-118.3866,2022-01-04,0.0,NaN,52,60,44
4,"LAX AIRPORT, CA US",33.93816,-118.3866,2022-01-05,0.0,NaN,54,65,45

In [10]:
DF4_LA_dtypes = DF4_LA.dtypes
print(DF4_LA_dtypes) 
DF4_LA_shape = DF4_LA.shape
print(DF4_LA_shape)

NAME          object
LATITUDE     float64
LONGITUDE    float64
DATE          object
PRCP         float64
SNOW         float64
TAVG           int64
TMAX           int64
TMIN           int64
dtype: object
(365, 9)

### Cleaning Data

In [11]:
DF1_Cinci.rename(columns={'NAME': 'City', 'DATE': 'Date', 'PRCP': 'Precipitation', 'SNOW': 'Snow', 'TAVG': 'Average_Temp', 'TMAX': 'Max_Temp', 'TMIN': 'Min_Temp'}, inplace=True)

In [12]:
DF1_Cinci.head()

,City,LATITUDE,LONGITUDE,Date,Precipitation,Snow,Average_Temp,Max_Temp,Min_Temp
0,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-01,1.01,0.0,58,64,52
1,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-02,0.20,0.0,41,52,28
2,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-03,0.00,0.0,27,33,21
3,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-04,0.00,0.0,29,44,21
4,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-05,0.00,0.0,42,47,22

In [13]:
DF1_Cinci.drop(columns=['LATITUDE', 'LONGITUDE'], inplace=True)
DF1_Cinci.head()

,City,Date,Precipitation,Snow,Average_Temp,Max_Temp,Min_Temp
0,"CIN/NKY INTERNATIONAL AIRPORT, KY US",2022-01-01,1.01,0.0,58,64,52
1,"CIN/NKY INTERNATIONAL AIRPORT, KY US",2022-01-02,0.20,0.0,41,52,28
2,"CIN/NKY INTERNATIONAL AIRPORT, KY US",2022-01-03,0.00,0.0,27,33,21
3,"CIN/NKY INTERNATIONAL AIRPORT, KY US",2022-01-04,0.00,0.0,29,44,21
4,"CIN/NKY INTERNATIONAL AIRPORT, KY US",2022-01-05,0.00,0.0,42,47,22

In [14]:
DF2_Loui.rename(columns={'NAME': 'City', 'DATE': 'Date', 'PRCP': 'Precipitation', 'SNOW': 'Snow', 'TAVG': 'Average_Temp', 'TMAX': 'Max_Temp', 'TMIN': 'Min_Temp'}, inplace=True)

In [15]:
DF2_Loui.head()

,City,LATITUDE,LONGITUDE,Date,Precipitation,Snow,Average_Temp,Max_Temp,Min_Temp
0,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-01,2.08,0.0,61,64,55
1,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-02,0.01,0.0,46,57,31
2,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-03,0.00,0.0,31,37,25
3,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-04,0.00,0.0,32,46,24
4,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-05,0.00,0.0,46,50,30

In [16]:
DF2_Loui.drop(columns=['LATITUDE', 'LONGITUDE'], inplace=True)

In [17]:
DF2_Loui.head()

,City,Date,Precipitation,Snow,Average_Temp,Max_Temp,Min_Temp
0,"LOUISVILLE INT AIRPORT, KY US",2022-01-01,2.08,0.0,61,64,55
1,"LOUISVILLE INT AIRPORT, KY US",2022-01-02,0.01,0.0,46,57,31
2,"LOUISVILLE INT AIRPORT, KY US",2022-01-03,0.00,0.0,31,37,25
3,"LOUISVILLE INT AIRPORT, KY US",2022-01-04,0.00,0.0,32,46,24
4,"LOUISVILLE INT AIRPORT, KY US",2022-01-05,0.00,0.0,46,50,30

In [18]:
DF3_NYC.rename(columns={'NAME': 'City', 'DATE': 'Date', 'PRCP': 'Precipitation', 'SNOW': 'Snow', 'TAVG': 'Average_Temp', 'TMAX': 'Max_Temp', 'TMIN': 'Min_Temp'}, inplace=True)

In [19]:
DF3_NYC.head()

,City,LATITUDE,LONGITUDE,Date,Precipitation,Snow,Average_Temp,Max_Temp,Min_Temp
0,"JFK INT AIRPORT, NY US",40.63915,-73.7639,2022-01-01,1.22,0.0,50,53,48
1,"JFK INT AIRPORT, NY US",40.63915,-73.7639,2022-01-02,0.03,0.0,53,59,38
2,"JFK INT AIRPORT, NY US",40.63915,-73.7639,2022-01-03,0.00,0.0,34,39,22
3,"JFK INT AIRPORT, NY US",40.63915,-73.7639,2022-01-04,0.00,0.0,25,33,19
4,"JFK INT AIRPORT, NY US",40.63915,-73.7639,2022-01-05,0.29,0.0,36,46,30

In [20]:
DF3_NYC.drop(columns=['LATITUDE', 'LONGITUDE'], inplace=True)

In [21]:
DF3_NYC.head()

,City,Date,Precipitation,Snow,Average_Temp,Max_Temp,Min_Temp
0,"JFK INT AIRPORT, NY US",2022-01-01,1.22,0.0,50,53,48
1,"JFK INT AIRPORT, NY US",2022-01-02,0.03,0.0,53,59,38
2,"JFK INT AIRPORT, NY US",2022-01-03,0.00,0.0,34,39,22
3,"JFK INT AIRPORT, NY US",2022-01-04,0.00,0.0,25,33,19
4,"JFK INT AIRPORT, NY US",2022-01-05,0.29,0.0,36,46,30

In [22]:
DF4_LA.head()

,NAME,LATITUDE,LONGITUDE,DATE,PRCP,SNOW,TAVG,TMAX,TMIN
0,"LAX AIRPORT, CA US",33.93816,-118.3866,2022-01-01,0.0,NaN,55,61,49
1,"LAX AIRPORT, CA US",33.93816,-118.3866,2022-01-02,0.0,NaN,54,66,45
2,"LAX AIRPORT, CA US",33.93816,-118.3866,2022-01-03,0.0,NaN,53,60,44
3,"LAX AIRPORT, CA US",33.93816,-118.3866,2022-01-04,0.0,NaN,52,60,44
4,"LAX AIRPORT, CA US",33.93816,-118.3866,2022-01-05,0.0,NaN,54,65,45

In [23]:
DF4_LA.rename(columns={'NAME': 'City', 'DATE': 'Date', 'PRCP': 'Precipitation', 'SNOW': 'Snow', 'TAVG': 'Average_Temp', 'TMAX': 'Max_Temp', 'TMIN': 'Min_Temp'}, inplace=True)

In [24]:
DF4_LA.head()

,City,LATITUDE,LONGITUDE,Date,Precipitation,Snow,Average_Temp,Max_Temp,Min_Temp
0,"LAX AIRPORT, CA US",33.93816,-118.3866,2022-01-01,0.0,NaN,55,61,49
1,"LAX AIRPORT, CA US",33.93816,-118.3866,2022-01-02,0.0,NaN,54,66,45
2,"LAX AIRPORT, CA US",33.93816,-118.3866,2022-01-03,0.0,NaN,53,60,44
3,"LAX AIRPORT, CA US",33.93816,-118.3866,2022-01-04,0.0,NaN,52,60,44
4,"LAX AIRPORT, CA US",33.93816,-118.3866,2022-01-05,0.0,NaN,54,65,45

In [25]:
DF4_LA.drop(columns=['LATITUDE', 'LONGITUDE'], inplace=True)

In [26]:
DF4_LA.head()

,City,Date,Precipitation,Snow,Average_Temp,Max_Temp,Min_Temp
0,"LAX AIRPORT, CA US",2022-01-01,0.0,NaN,55,61,49
1,"LAX AIRPORT, CA US",2022-01-02,0.0,NaN,54,66,45
2,"LAX AIRPORT, CA US",2022-01-03,0.0,NaN,53,60,44
3,"LAX AIRPORT, CA US",2022-01-04,0.0,NaN,52,60,44
4,"LAX AIRPORT, CA US",2022-01-05,0.0,NaN,54,65,45

### Set DateTime

In [30]:
DF1_Cinci['Date'] = pd.to_datetime(DF1_Cinci['Date']) 
DF2_Loui['Date'] = pd.to_datetime(DF2_Loui['Date']) 
DF3_NYC['Date'] = pd.to_datetime(DF3_NYC['Date']) 
DF4_LA['Date'] = pd.to_datetime(DF4_LA['Date'])

In [28]:
DF1_Cinci.dtypes

City                     object
Date             datetime64[ns]
Precipitation           float64
Snow                    float64
Average_Temp              int64
Max_Temp                  int64
Min_Temp                  int64
dtype: object

In [32]:
DF2_Loui.dtypes

City                     object
Date             datetime64[ns]
Precipitation           float64
Snow                    float64
Average_Temp              int64
Max_Temp                  int64
Min_Temp                  int64
dtype: object

In [33]:
DF3_NYC.dtypes

City                     object
Date             datetime64[ns]
Precipitation           float64
Snow                    float64
Average_Temp              int64
Max_Temp                  int64
Min_Temp                  int64
dtype: object

In [34]:
DF4_LA.dtypes

City                     object
Date             datetime64[ns]
Precipitation           float64
Snow                    float64
Average_Temp              int64
Max_Temp                  int64
Min_Temp                  int64
dtype: object