In [4]:
# Packages
import pandas as pd 
import numpy as np 
import datetime 
import matplotlib.pyplot as plt

In [7]:
# DataFrames
df1_Cin_NKY_W = pd.read_csv('Weather_Datasets/Weather_Data-Cinci_NKY_Weather.csv')
df2_Louis_W = pd.read_csv('Weather_Datasets/Louisville_Weather_CSV.csv') 
df3_NYC_W = pd.read_csv('Weather_Datasets/New_York_Weather.csv')
df4_LA_W = pd.read_csv('Weather_Datasets/Los_Angeles_Weather.csv') 

df1_Cin_NKY_W.head()

,NAME,LATITUDE,LONGITUDE,DATE,PRCP,SNOW,TAVG,TMAX,TMIN
0,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-01,1.01,0.0,58,64,52
1,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-02,0.20,0.0,41,52,28
2,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-03,0.00,0.0,27,33,21
3,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-04,0.00,0.0,29,44,21
4,"CIN/NKY INTERNATIONAL AIRPORT, KY US",39.04443,-84.67241,2022-01-05,0.00,0.0,42,47,22

In [12]:
df3_NYC_W.tail()

,NAME,LATITUDE,LONGITUDE,DATE,PRCP,SNOW,TAVG,TMAX,TMIN
360,"JFK INT AIRPORT, NY US",40.63915,-73.7639,2022-12-27,0.00,0.0,30,35,28
361,"JFK INT AIRPORT, NY US",40.63915,-73.7639,2022-12-28,0.00,0.0,36,45,27
362,"JFK INT AIRPORT, NY US",40.63915,-73.7639,2022-12-29,0.00,0.0,39,46,32
363,"JFK INT AIRPORT, NY US",40.63915,-73.7639,2022-12-30,0.00,0.0,42,51,34
364,"JFK INT AIRPORT, NY US",40.63915,-73.7639,2022-12-31,0.27,0.0,46,51,41

In [14]:
#Undersdanding Cinci/NKY Data 
column_list = df1_Cin_NKY_W.columns 
print(column_list) 
data_types = df1_Cin_NKY_W.dtypes
print(data_types) 
Cinci_shape = df1_Cin_NKY_W.shape
print(Cinci_shape)

Index(['NAME', 'LATITUDE', 'LONGITUDE', 'DATE', 'PRCP', 'SNOW', 'TAVG', 'TMAX',
       'TMIN'],
      dtype='object')
NAME          object
LATITUDE     float64
LONGITUDE    float64
DATE          object
PRCP         float64
SNOW         float64
TAVG           int64
TMAX           int64
TMIN           int64
dtype: object
(365, 9)

In [22]:
#Renaming Cincinnati/Northern KY Columns 
df1_Cin_NKY_W.rename(columns = {'NAME': 'LOCATION'}, inplace = True) 
df1_Cin_NKY_W.rename(columns = {'TMIN': 'LOW'}, inplace = True) 
df1_Cin_NKY_W.rename(columns = {'TMAX': 'HIGH'}, inplace = True) 
df1_Cin_NKY_W.rename(columns = {'PRCP': 'PRECIPITATION'}, inplace = True) 
df1_Cin_NKY_W.rename(columns = {'TAVG': 'AVERAGE'}, inplace = True) 

df1_Cin_NKY_W.head()  

#Renaming Louisville Columns
df2_Louis_W.rename(columns = {'NAME': 'LOCATION'}, inplace = True) 
df2_Louis_W.rename(columns = {'TMIN': 'LOW'}, inplace = True)
df2_Louis_W.rename(columns = {'TMAX': 'HIGH'}, inplace = True) 
df2_Louis_W.rename(columns = {'PRCP': 'PRECIPITATION'}, inplace = True) 
df2_Louis_W.rename(columns = {'TAVG': 'AVERAGE'}, inplace = True) 

df2_Louis_W.head()

,LOCATION,LATITUDE,LONGITUDE,DATE,PRECIPITATION,SNOW,AVERAGE,HIGH,LOW
0,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-01,2.08,0.0,61,64,55
1,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-02,0.01,0.0,46,57,31
2,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-03,0.00,0.0,31,37,25
3,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-04,0.00,0.0,32,46,24
4,"LOUISVILLE INT AIRPORT, KY US",38.17738,-85.73077,2022-01-05,0.00,0.0,46,50,30

In [ ]:
#Deleting Columns from Cincinnati/Northern KY DataFrame 
df1_Cin_NKY_W.drop(columns = ['LATITUDE', 'LONGITUDE'], inplace = True)

In [19]:
df1_Cin_NKY_W.head()

,LOCATION,DATE,PRECIPITATION,SNOW,AVERAGE,HIGH,LOW
0,"CIN/NKY INTERNATIONAL AIRPORT, KY US",2022-01-01,1.01,0.0,58,64,52
1,"CIN/NKY INTERNATIONAL AIRPORT, KY US",2022-01-02,0.20,0.0,41,52,28
2,"CIN/NKY INTERNATIONAL AIRPORT, KY US",2022-01-03,0.00,0.0,27,33,21
3,"CIN/NKY INTERNATIONAL AIRPORT, KY US",2022-01-04,0.00,0.0,29,44,21
4,"CIN/NKY INTERNATIONAL AIRPORT, KY US",2022-01-05,0.00,0.0,42,47,22